.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  --bs-gutter-x: 0rem;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  text-decoration: none;
  color: deeppink;
  text-shadow: dimgray 8px 10px 2px;
  transition:0.8s;
}

body{
  background-color: whitesmoke;
}

.btn{
 border: none;
 background-color: gray;
 color:white;
}

.btn:hover{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: deeppink;
  text-shadow: black 2px 2px 3px;
  transition:0.8s;
}

.lim{
  color:goldenrod;
}

.lim:hover{
  color:lime;
  transition:1.618s;
}

Footer{
  font-style: italic;
  color: gray;
}

